= render 'pages/home'

.tabbables
  %ul.nav.nav-tabs
    %li.active
      %a{"data-toggle" => "tab", :href => "#tab1"} 
        %strong
          %h4 Projects
    %li
      %a{"data-toggle" => "tab", :href => "#tab2"} 
        %strong
          %h4 Products
  .tab-content
    #tab1.tab-pane.active
      #projects
      - if @projects
        = render @projects
        .load-more-project
          = link_to 'Loading more projects', root_path( :page => @projects.next_page), :remote => true, :class => 'load-more-projects' if @projects.next_page  
    #tab2.tab-pane
      #projects
      - if @products
        = render @products
      = will_paginate @products

